html, body{
    font-size: 100%;
	font-family: 'Prompt', sans-serif;
	background:#ffffff;
	margin: 0;
	max-height:100%;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Prompt', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.agileits_services1_grid1{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
/*-- banner --*/
.banner{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	/*background-size:cover;*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:770px;
	position: relative;
	max-height:100%;
}
.banner1{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:770px;
	position: relative;
	max-height:100%;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#CCA971;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#C06519;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding:2em 2em 0;
}
.navbar-right {
    float: left !important;
    margin: 0.7em 0 0 15em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-brand {
    height: 42px;
    padding: 0;
    font-size: 1.1em;
    line-height: 35px;
	letter-spacing: 2px;
}
.navbar-brand span{
	color: #CCA971;
}
.link-effect-2 a {
  overflow: hidden;
  font-weight: 400;
}
.link-effect-2 a span {
  position: relative;
  display: inline-block;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link-effect-2 a span::before {
  color:#C06519;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.link-effect-2 a:hover span {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#CCA971;
}
.agile_phone{
	float:right;
	margin: 1.5em 0 0;
}
.agile_phone p{
	color:#fff;
	font-weight:600;
}
.agile_phone p i{
	padding-right:1.2em;
}
.agile_banner_info {
	width: 55%;
    margin:12em 0 0 3em;
    padding: 2em;
    /*border: 2px solid #fff;*/
    border-left: none;
    position: relative;
}
.agile_banner_info:after,.agile_banner_info:before{
	width:2px;
	height:20px;
	background:#fff;
	position:absolute;
	left:0%;
	content:'';
}
.agile_banner_info:after{
	top:0%;
}
.agile_banner_info:before{
	bottom:0%;
}
.agile_banner_info1{
	margin-left:-8em;
}
.agile_banner_info h3{
	font-size:1em;
	color:#fff;
	text-transform:capitalize;
	line-height:1.5em;
}
.agile_banner_info h3 span{
	color:#CCA971 ;
    padding: .2em .8em;
}
#typed{
	font-size:2em;
	color:#fff;
	text-transform:capitalize;
	line-height:1.5em;
}
#typed i{
	font-style:normal;
	color:#CCA971;
	font-weight:600;
}
.banner_agile_para p{
	color: #fff;
    margin: 2em 0 0 3em;
    line-height: 2em;
}
/*-- code for animated blinking cursor --*/
.typed-cursor{
	opacity: 1;
    font-weight: 300;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #fff;
    font-size: 2.5em;
}
@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.banner_color{
	position: absolute;
    width: 25.3%;
    height: 20px;
    background: red;
    bottom: 0%;
    right: 19.3%;
}
